@{
    //ViewBag.Title = "Strona główna";
}

<section class="shadowA lastActive">
    <div class="top"></div>
   
  
    <div class="bg">
        <h2>Ostatnio aktywni</h2>
        <img src="@Url.Content("~/Content/img/hrD.png")" class="hrD" alt="" />

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    PUser x <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
    </div>
     <div class="bot"></div>
</section>


<div class="homeCenter">
    <section class="banner">
         <img src="@Url.Content("~/Content/img/baner.png")" />
    </section>

    <section class="shadowB homeCenter">
        <div class="top"></div>
        <div class="bg">
             <section class="darkRed searchFriends">
                <h2>SZUKAJ ZNAJOMYCH</h2>
                <div class="line" style="margin-top: 2px"></div>
                <br />
                @using (Html.BeginForm("Search", "Account"))
                {
                    @Html.ValidationSummary(true)
                    <!--<input type="text" placeholder="Szukaj znajomych" />-->
                    @Html.TextBox("tofind", "Nazwa użytkownika");
                
                    <input type="submit" value="Szukaj" style="margin-left: 10px" />
                }
            
                <div class="clearer"></div>
            </section>

            <section class="darkRed bestPhotos">
                <h2>NAJLEPSZE ZDJĘCIA</h2>
                 <div class="line" style="margin-bottom: 10px; margin-top: 2px;"></div>
                
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <br />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />

                <br />
                <a href="#">
                    <img src="@Url.Content("~/Content/img/buttons/przegladaj.png")" class="browse hoverable" alt="Przeglądaj" />
                </a>
                
               
                <div class="clearer"></div>
            </section>
       
           <section class="darkRed bestPhotos">
                <h2>NAJNOWSZE ZDJĘCIA</h2>
                <div class="line" style="margin-bottom: 10px; margin-top: 2px;"></div>

                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <br />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
                <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />

                <br />
                <a href="#">
                    <img src="@Url.Content("~/Content/img/buttons/przegladaj.png")" class="browse hoverable" alt="Przeglądaj" />
                </a>
                <div class="clearer"></div>
            </section>
        </div>
        <div class="bot"></div>
    </section>

</div>

<section class="shadowA newestPhotos">
    <div class="top"></div>
    <div class="bg">
        <h2>Nowe zdjęcia</h2>
        <img src="@Url.Content("~/Content/img/hrD.png")" class="hrD" alt="" />

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    PUser x <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
    </div>
     <div class="bot"></div>
</section>