@{
    //ViewBag.Title = "Strona główna";
}

<section class="roundA PhotolifePRO">
    <h2>Photolife.<span class="gray">PRO</span></h2>
    <img src="@Url.Content("~/Content/img/hrA.png")" class="hrA" />

    <div class="grayBG user">
        User 1 <br />
        <img src="@Url.Content("~/Content/img/exampleAvatar.png")" />
    </div>

     <div class="grayBG user">
        User 2 <br />
        <img src="@Url.Content("~/Content/img/exampleAvatar.png")" />
    </div>
    
     <div class="grayBG user">
        User 3 <br />
        <img src="@Url.Content("~/Content/img/exampleAvatar.png")" />
    </div>

    <div class="grayBG user">
        User 4 <br />
        <img src="@Url.Content("~/Content/img/exampleAvatar.png")" />
    </div>
    <div class="grayBG user">
        User5 <br />
        <img src="@Url.Content("~/Content/img/exampleAvatar.png")" />
    </div>
</section>


<div class="homeCenter">
    <section class="roundA banner">
         <img src="@Url.Content("~/Content/img/baner.png")" />
    </section>

    <section class="roundA homeCenter">

         <section class="grayBG searchFriends">
            <h2>SZUKAJ ZNAJOMYCH</h2>
            <img src="@Url.Content("~/Content/img/hrB.png")" class="hrB" />
            <br />
            @using (Html.BeginForm("Index", "Friends", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                @Html.ValidationSummary(true)
                <input type="text" placeholder="Szukaj znajomych" />
                
                <input type="submit" value="Szukaj" />
            }
            
            <div class="clearer"></div>
        </section>

        <section class="grayBG bestPhotos">
            <h2>NAJLEPSZE ZDJĘCIA</h2>
            <img src="@Url.Content("~/Content/img/hrB.png")" class="hrB" />
            <br />

            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <br />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />

            <br />
            <a href="#">
                <img src="@Url.Content("~/Content/img/buttons/przegladaj.png")" class="browse hoverable" />
            </a>
            <div class="clearer"></div>
        </section>
       
       <section class="grayBG bestPhotos">
            <h2>NAJNOWSZE ZDJĘCIA</h2>
            <img src="@Url.Content("~/Content/img/hrB.png")" class="hrB" />
            <br />

            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <br />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />
            <img src="@Url.Content("~/Content/img/exampleAvatar60.png")" class="avatar" />

            <br />
            <a href="#">
                <img src="@Url.Content("~/Content/img/buttons/przegladaj.png")" class="browse hoverable" />
            </a>
            <div class="clearer"></div>
        </section>
    </section>


</div>

<section class="roundA newestPhotos">
     
</section>