@model Photolife.Models.Photo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Photo</legend>

    <div class="display-label">prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prefix)
    </div>

    <div class="display-label">FileName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    <div class="display-label">FileName800</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName800)
    </div>

    <div class="display-label">FileName200</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName200)
    </div>

    <div class="display-label">FilePath</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FilePath)
    </div>

    <div class="display-label">FilePath200</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FilePath200)
    </div>

    <div class="display-label">FilePath800</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FilePath800)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
