@model Photolife.Models.Photo
@{
    ViewBag.Title = "Zdjęcie";
}
<section class="shadowA lastActive">
    <div class="top"></div>
   
  
    <div class="bg">
        <h2>Ostatnio aktywni</h2>
        <img src="@Url.Content("~/Content/img/hrD.png")" class="hrD" alt="" />

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="@Url.Action("Details", "Photo")">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    PUser x <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
    </div>
     <div class="bot"></div>
</section>
<div class="homeCenter">
    <section class="shadowB">
        <div class="top"></div>
        <div class="bg">
             <h2 class="nav"><a href="#">@ViewBag.user.UserName</a> :: Zdjęcia :: Szczegóły</h2>
             <div class="line2" style="width: 90%"></div>

             <div class="img_shadow photoDetails">
                <div class="top"></div>
                <div class="bg">
                    <a href="#" class="zoom"></a>
                    <a href="#" class="prev"></a>
                    <a href="#" class="next"></a>
                    <img src="@Url.Content(Model.FilePath450width)" class="addthis_shareable photo" alt="Zdjęcie"  />
                   
                </div>
                <div class="bot"></div>
             </div>
            <h2>Dodał: @ViewBag.user.Email</h2>
            <span style="font-size: 20px">
                <b style="font-size: 25px">Opis: </b> <span id="description">@Model.description</span>
                @if (Model.description != null && Model.description.Length != 0)
                {
                    <small><br /><a href="#" id="editLink">Edytuj opis</a></small>
                }
                else
                {
                    <small><br /><a href="#" id="addLink">Dodaj opis</a></small>
                }
                @using (Html.BeginForm("EditDescription", "Photo", new { id = Model.PhotoID }, FormMethod.Post, new { style = "display: none", id = "descriptionForm" }))
                {
                    <textarea name="description">@Model.description</textarea>
                    <input type="submit" value="Zapisz opis" />
                }
            </span>
            <br /><br />
            
            @using (Html.BeginForm("Rate", "Photo", new { id = Model.PhotoID }, FormMethod.Post, new { id = "rateForm" }))
            {
                <div>
                    <input name="star1" type="radio" class="star" value="1"/>
                    <input name="star1" type="radio" class="star" value="2"/>
                    <input name="star1" type="radio" class="star" value="3"/>
                    <input name="star1" type="radio" class="star" value="4"/>
                    <input name="star1" type="radio" class="star" value="5"/>
                </div>
            }


        </div>
        <div class="bot"></div>
    </section>
</div>
<section class="shadowA newestPhotos">
    <div class="top"></div>
    <div class="bg">
        <h2>Nowe zdjęcia</h2>
        <img src="@Url.Content("~/Content/img/hrD.png")" class="hrD" alt="" />

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    PUser x <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
    </div>
     <div class="bot"></div>
</section>
<script type="text/javascript">

    $(document).ready(function () {

        $('#editLink, #addLink').click(function () {
            $('#descriptionForm').show();
            return false;
        })
        $('#descriptionForm').submit(function () {

            $.ajax({
                type: 'POST', url: this.action, data: $(this).serialize(), success: function (response) {
                    //$('#ContactForm').find('.form_result').html(response);
                    if (response.status == 'ok') {
                        $('#description').html(response.description);
                        $('#descriptionForm').hide();
                    }
                }
            })
            return false;
        });

        $.fn.rating.options = { //$.extend($.fn.rating, { options: {
            cancel: 'Wycofaj swój głos',   // advisory title for the 'cancel' link
            cancelValue: '0',           // value to submit when user click the 'cancel' link
            split: 0,                  // split the star into how many parts?

            // Width of star image in case the plugin can't work it out. This can happen if
            // the jQuery.dimensions plugin is not available OR the image is hidden at installation
            starWidth: 16,

            //NB.: These don't need to be pre-defined (can be undefined/null) so let's save some code!
            //half:     false,         // just a shortcut to control.split = 2
            //required: false,         // disables the 'cancel' button so user can only select one of the specified values
            //readOnly: false,         // disable rating plugin interaction/ values cannot be changed
            //focus:    function(){},  // executed when stars are focused
            //blur:     function(){},  // executed when stars are focused
            callback: function () {
                $.ajax({
                    type: 'POST', url: $('#voteForm').action, data: $('#voteForm').serialize(), success: function (response) {
                        alert(response);
                        //$('#ContactForm').find('.form_result').html(response);
                        //if (response.status == 'ok') {
                        //   $('#description').html(response.description);
                        //    $('#descriptionForm').hide();
                        //}
                    }
                })
                return false;
            }  // executed when a star is clicked
        }; //} });

    })

</script>
