@model IEnumerable<Photolife.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            prefix
        </th>
        <th>
            FileName
        </th>
        <th>
            FileName800
        </th>
        <th>
            FileName200
        </th>
        <th>
            FilePath
        </th>
        <th>
            FilePath200
        </th>
        <th>
            FilePath800
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName800)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName200)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath200)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath800)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhotoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhotoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhotoID })
        </td>
    </tr>
}

</table>
