@model IEnumerable<Photolife.Models.Photo>
@{
    //ViewBag.Title = "Strona główna";
}

<section class="shadowA lastActive">
    <div class="top"></div>
   
  
    <div class="bg">
        <h2>Ostatnio aktywni</h2>
        <img src="@Url.Content("~/Content/img/hrD.png")" class="hrD" alt="" />
        
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="@Url.Action("Details", "Photo")">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    PUser x <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
    </div>
     <div class="bot"></div>
</section>


<div class="homeCenter">

    <section class="shadowB">
        <div class="top"></div>
        <div class="bg">
             <h2 class="nav"><a href="#">@ViewBag.user.UserName</a> :: Zdjęcia</h2>
             <div class="line2" style="width: 90%"></div>


             @foreach (var item in Model)
             {
                <section class="red photoList">
                    <div class="top"></div>
                    <div class="content">
                        <div class="image">
                            <a href="@Url.Action("Details", "Photo", new {id = item.PhotoID })" class="info"></a>
                            <a href="@Url.Content(item.FilePath)" class="zoom list1"></a>
                            
                            <img src="@Url.Content(item.FilePath100width)" alt="@Url.Content(item.FileName)" />
               
                        </div>
                        <div class="imageInfo">
                            <span class="left">Dodane:</span>
                            <span class="right">4 dni temu</span>
                            <br />
                            <span class="left">Ocena:</span>
                            <span class="right">5.32 <small>/ 10 (32 głosy)</small></span>
                            <br />
                            <span class="left">Komentarze:</span>
                            <span class="right">22</span>
                            <br />
                            <span class="left">Wyświetlenia:</span>
                            <span class="right">323</span>
                        </div>
                    </div>
                    <div class="bot"></div>
                </section>
             }
            <div class="center">
                <a class="button" href="#">Wczytaj pozostałe</a>
            </div>
        </div>
        <div class="bot"></div>
    </section>

</div>

<section class="shadowA newestPhotos">
    <div class="top"></div>
    <div class="bg">
        <h2>Nowe zdjęcia</h2>
        <img src="@Url.Content("~/Content/img/hrD.png")" class="hrD" alt="" />

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>

        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    PUser x <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
        <div class="user">
            <div class="top"></div>
            <div class="bg">
                <a href="#">
                    Przykładowy użytkownik <br />
                    <img src="@Url.Content("~/Content/img/exampleAvatar.png")" alt="Przykładowy użytkownik" />
                </a>
            </div>
            <div class="bot"></div>
        </div>
    </div>
     <div class="bot"></div>
</section>