@model Photolife.Models.UserData

@{
    ViewBag.Title = "Index";
}

<h2>Witaj @Membership.GetUser().UserName!</h2>
<p>
    Twój e-mail: <b>@Membership.GetUser().Email</b>
</p>
<small>@Html.ActionLink("Zmień e-mail!", "ChangeEmail")</small>
<small>@Html.ActionLink("Zmień hasło!", "ChangePassword")</small>

<fieldset>
    <legend>Dane osobiste</legend>

    <div class="display-label">
        @Html.LabelFor(m => m.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.FirstName)
    </div>

    <div class="display-label">
        @Html.LabelFor(m => m.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.LastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Zmień dane osobiste", "EditData")
</p>