<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
   
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/global.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="navBG">
            <script type="text/javascript">
                $(document).ready(function () {
                    var width = $(document).width();
                    width -= $('.page').width();

                    $('#navBG').width(width / 2 + 'px');
                    //alert(width / 2);

                });
            </script>
        </div>
        <header>
            <h1 id="logo">
                <a href="@Url.Action("Index", "Home", null)">
                    <img alt="Photolife" class="hoverable" src="@Url.Content("~/Content/img/logo.png")" />
                </a>
            </h1>
           
            <nav>
                <ul>
                    @Html.Partial("_LogOnPartial")
                    
                    <li>Forum</li>
<!--
                    <li>@Html.ActionLink("Dodaj Fotę", "Create", "Photo")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Message", "Index", "Message")</li>
-->

                </ul>
            </nav>
            
        </header>
        <section id="main" >
            @RenderBody()
        </section>
        
    </div>
      <footer>
            <span class="footerA">Wszelkie prawa zastrzeżone</span>  
            <span class="footerB">© 2011</span>
            <span class="footerC">Projekt i wykonanie: Bezglutenowcy</span>
        </footer>
</body>
</html>
