<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/stars.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.lightbox-0.4.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.lightbox-0.4.css")" media="screen" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.json.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.MetaData.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.rating.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/global.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var addthis_config = {     
            services_overlay:'facebook,twitter,email,print,more'
        }
       
    </script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fc8c3cd2e735df6"></script>  
    <script src="@Url.Content("~/Scripts/jquery.toastmessage.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/jquery.toastmessage.css")" rel="stylesheet" type="text/css" />
   <script type="text/javascript">

       function showSuccessToast() {
           $().toastmessage('showSuccessToast', "Success Dialog which is fading away ...");
       }
       function showStickySuccessToast() {
           $().toastmessage('showToast', {
               text: 'Success Dialog which is sticky',
               sticky: true,
               position: 'top-right',
               type: 'success',
               closeText: '',
               close: function () {
                   console.log("toast is closed ...");
               }
           });

       }
       function showNoticeToast() {
           $().toastmessage('showNoticeToast', "Masz nową wiadomość");
       }
       function showStickyNoticeToast() {
           $().toastmessage('showToast', {
               text: 'Masz nową wiadomość',
               sticky: true,
               position: 'top-left',
               type: 'notice',
               closeText: '',
               close: function () { console.log("toast is closed ..."); }
           });
       }
       function showWarningToast() {
           $().toastmessage('showWarningToast', "Warning Dialog which is fading away ...");
       }
       function showStickyWarningToast() {
           $().toastmessage('showToast', {
               text: 'Warning Dialog which is sticky',
               sticky: true,
               position: 'middle-right',
               type: 'warning',
               closeText: '',
               close: function () {
                   console.log("toast is closed ...");
               }
           });
       }
       function showErrorToast() {
           $().toastmessage('showErrorToast', "Error Dialog which is fading away ...");
       }
       function showStickyErrorToast() {
           $().toastmessage('showToast', {
               text: 'Error Dialog which is sticky',
               sticky: true,
               position: 'center',
               type: 'error',
               closeText: '',
               close: function () {
                   console.log("toast is closed ...");
               }
           });
       }
 
</script>

</head>
<body>
    <div id="navBG"></div>
    <div class="page">
        
        <header>
            <h1 id="logo">
                <a href="@Url.Action("Index", "Home", null)">
                    <img alt="Photolife" class="hoverable" src="@Url.Content("~/Content/img/logo.png")" />
                </a>
            </h1>
           
            <nav>
                <ul>
                    @Html.Partial("_LogOnPartial")
                    
                    <li>Forum</li>
<!--
                    <li>@Html.ActionLink("Dodaj Fotę", "Create", "Photo")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Message", "Index", "Message")</li>
-->

                </ul>
            </nav>
            
        </header>
        <section id="main" >
            @RenderBody()
        </section>
        
    </div>
      <footer>

   <div id="fb-root"></div>
<script type="text/javascript">    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=252734311486230";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>


    <div class="fb-like" data-href="http://localhost:1205" data-send="false" data-layout="button_count" data-width="600" data-show-faces="true" data-font="verdana"></div>
   
   <form id="form1" runat="server">
    <div>
 
  <p>
            <span class="description">Show a MAIL toast</span> <a href="javascript:showNoticeToast();">not sticky</a>|<a
                href="javascript:showStickyNoticeToast();">sticky</a>
        </p>
    <p>
            <span class="description">Show a success toast</span> <a href="javascript:showSuccessToast();">not
            sticky</a>|<a href="javascript:showStickySuccessToast();">sticky</a>
        </p>
 
       
 
        <p>
            <span class="description">Show a warning toast</span> <a href="javascript:showWarningToast();">not
            sticky</a>|<a href="javascript:showStickyWarningToast();">sticky</a>
        </p>
 
        <p>
            <span class="description">Show a error toast</span> <a href="javascript:showErrorToast();">not sticky</a>|<a
                href="javascript:showStickyErrorToast();">sticky</a>
        </p>
 
    </div>
    </form>
     
            <span class="footerA">Wszelkie prawa zastrzeżone</span>  
            <span class="footerB">© 2011</span>
            <span class="footerC">Projekt i wykonanie: Bezglutenowcy</span>
        </footer>
</body>
</html>
