@model IEnumerable<Photolife.Models.Message>

@{
    ViewBag.Title = "Wiadomości";
}

<h2>Odebrane</h2>

<table>
    <tr>
        <th>
            Od
        </th>
        <th>
            Tytuł
        </th>
        <th>
            Treść
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Membership.GetUser(item.Nadawca).UserName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytuł)
        </td>
        <td>
            @(item.Treść.Length>100?item.Treść.Substring(100):item.Treść)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.MessageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
        </td>
    </tr>
}

</table>
