@model Photolife.Models.ResetPasswordModel

@{
    ViewBag.Title = "Resetowanie hasła";
}

<h2>Resetowanie hasła</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Niestety nie udało się zalogować. Spróbuj ponownie.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Formularz resetowania hasła</legend>

            <div class="editor-label">
                Podaj e-mail.
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
            </div>

            @ReCaptcha.GetHtml(theme: "red")

            <p>
                <input type="submit" value="Resetuj hasło" />
            </p>
        </fieldset>
    </div>
}
