@model Photolife.Models.Message

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Message</legend>

    <div class="display-label">From</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nadawca)
    </div>

    <div class="display-label">To</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Odbiorca)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tytuł)
    </div>

    <div class="display-label">Content</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Treść)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
