@model IEnumerable<Photolife.Models.Message>

@{
    ViewBag.Title = "Wiadomości";
}

<h2>Wiadomości</h2>

<p>
    @Html.ActionLink("Utwórz wiadomość", "Create")
</p>
<table>
    <tr>
        <th>
            Nadawca
        </th>
        <th>
            Odbiorca
        </th>
        <th>
            Tytuł
        </th>
        <th>
            Treść
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nadawca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Odbiorca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytuł)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treść)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
        </td>
    </tr>
}

</table>
